<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <title>Pinnochio's Pizza</title>
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
      {% if message %}
          <div>
              {{ message }}
          </div>
      {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>
