{% extends "orders/base.html" %}

{% block body %}
<h1>Hello, {{ user.first_name }}</h1>
<ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li>Order id: {{ order.id }}</li>
    <h3>Regular Pizza</h3>
      {% for item in regular_pizza %}
          <li>
              {{ item.name }}
          </li>
      {% endfor %}
    <h3>Sicilian Pizza</h3>
      {% for item in sicilian_pizza %}
          <li>
              {{ item.name}}
          </li>
      {% endfor %}
    <h3>Subs</h3>
      {% for item in sub %}
          <li>
              {{ item.name }}
          </li>
      {% endfor %}
    <h3>Pasta</h3>
      {% for item in pasta %}
          <li>
              {{ item.name }}
          </li>
      {% endfor %}
    <h3>Salads</h3>
      {% for item in salad %}
          <li>
              {{ item.name }}
          </li>
      {% endfor %}
    <h3>Dinner Platter</h3>
      {% for item in dinner_platter %}
          <li>
              {{ item.name }}
          </li>
      {% endfor %}

    <h3>---------------------<h3>
    <li><a href="{% url 'index' order_id %}">Menu</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock %}
