{% extends "orders/base.html" %}

{% block body %}
{% for order in orders %}
  <h1>-------------------------------------------</h1>
  <ul>
      <li>ID of customer: {{ order.user.username }}</li>
      <li>Order id: {{ order.id }}</li>
      <h3>Regular Pizza</h3>
        {% for item in order.regular_dish.all %}
            <li>
                Regular Pizza {{ item }}
            </li>
        {% endfor %}
      <h3>Sicilian Pizza</h3>
        {% for item in order.sicilian_dish.all %}
            <li>
                Sicilian Pizza {{ item}} Pizza
            </li>
        {% endfor %}
      <h3>Subs</h3>
        {% for item in order.subs0_dish.all %}
            <li>
                {{ item }}
            </li>
        {% endfor %}
      <h3>Pasta</h3>
        {% for item in order.pasta_dish.all %}
            <li>
                {{ item }}
            </li>
        {% endfor %}
      <h3>Salads</h3>
        {% for item in order.salad_dish.all %}
            <li>
                {{ item }}
            </li>
        {% endfor %}
      <h3>Dinner Platter</h3>
        {% for item in order.din_dish.all %}
            <li>
                {{ item }}
            </li>
        {% endfor %}
      <h3>Total: {{ order.price }}</h3>
  </ul>
{% endfor %}
<h3>---------------------<h3>
<li><a href="{% url 'logout' %}">Logout</a></li>

{% endblock %}
