{% extends "orders/base.html" %}

{% block body %}
<h1>Hello, {{ user.first_name }}</h1>
<ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li>Order id: {{ order_id }}</li>
    <h3>Regular Pizza</h3>
      {% for item in regular_pizza %}
          <li>
              Regular Pizza : {{ item }}
          </li>
      {% endfor %}
    <h3>Sicilian Pizza</h3>
      {% for item in sicilian_pizza %}
          <li>
              Sicilian Pizza : {{ item }}
          </li>
      {% endfor %}
    <h3>Subs</h3>
      {% for item in sub %}
        {% if item.template.pk != 10 %}
            <li>
                {{ item }}
            </li>
        {% endif %}
      {% endfor %}
      {% for thing in Steak_Cheese %}
        <li>
          {{ thing }}
        </li>
      {% endfor %}
    <h3>Pasta</h3>
      {% for item in pasta %}
          <li>
              {{ item }}
          </li>
      {% endfor %}
    <h3>Salads</h3>
      {% for item in salad %}
          <li>
              {{ item }}
          </li>
      {% endfor %}
    <h3>Dinner Platter</h3>
      {% for item in dinner_platter %}
          <li>
              {{ item }}
          </li>
      {% endfor %}
    <h3>Total: {{ total }}</h3>
    {% if total != 0.0 %}
      <h2><a href="{% url 'view' order_id %}">Confirm Order</a></h2>
    {% endif %}
    <h3>---------------------<h3>
    <li><a href="{% url 'menu' order_id %}">Menu</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock %}
