{% extends "orders/base.html" %}

{% block body %}
<h1>Hello, {{ user.first_name }}</h1>
<ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li>Order id: {{ order.id }}</li>
    <h3>Regular Pizza</h3>
      {% for item in RegularPizza %}
          <li>
              <a href="{% url 'regular_pizza' order_id=order_id dish_id=RegularPizza.id %}" >
                  {{ item }}
              </a>
          </li>
      {% endfor %}
    <h3>Sicilian Pizza</h3>
      {% for item in SicilianPizza %}
          <li>
              <a href="{% url 'sicilian_pizza' order_id=order_id dish_id=SicilianPizza.id %}">
                  {{ item }}
              </a>
          </li>
      {% endfor %}
    <h3>Subs</h3>
      {% for item in Sub %}
          <li>
              <a href="{% url 'sub' order_id=order_id dish_id=Sub.id %}">
                  {{ item }}
              </a>
          </li>
      {% endfor %}
    <h3>Pasta</h3>
      {% for item in Pasta %}
          <li>
              <a href="{% url 'rest' order_id=order_id type_id=1 dish_id=Pasta.id %}">
                  {{ item }}
              </a>
          </li>
      {% endfor %}
    <h3>Salads</h3>
      {% for item in Salad %}
          <li>
              <a href="{% url 'rest' order_id=order_id type_id=2 dish_id=Salad.id %}">
                  {{ item }}
              </a>
          </li>
      {% endfor %}
    <h3>Dinner Platter</h3>
      {% for item in DinnerPlatter %}
          <li>
              <a href="{% url 'rest' order_id=order_id type_id=3 dish_id=DinnerPlatter.id %}">
                  {{ item }}
              </a>
          </li>
      {% endfor %}

    <h3>---------------------<h3>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock %}
