{% extends "orders/base.html" %}

{% block body %}
<ul>
    <h3>Sub</h3>
    <form action="{% url 'sub' order_id=order_id dish_id=dish_id %}" method="post">
        {% csrf_token %}
        <input type='hidden' name="size" value='NoEntry'>
        <input type="radio" name="size" value="Small"> Small<br>
        <input type="radio" name="size" value="Large"> Large<br>
        <input type='hidden' name="Xcheese" value='No'>
        <input type="checkbox" name="Xcheese" value="Yes">ExtraCheese<br>
        <br>
        {% if dish_id == 10 %}
          <h6>Add on</h6>
          {% for item in Add_on %}
            <input type='hidden' name="{{ item.name }}" value='No'>
            <input type="checkbox" name="{{ item.name }}" value='Yes'> {{ item.name }}<br>
          {% endfor %}
        {% endif %}
        <br>
        <input type="submit" value="Add"/>
    </form>
    <li>Go Back<a href="{% url 'index' order_id %}">Index/Cart</a></li>
</ul>
{% endblock %}
