body {
  background-image:{
    url(../img/pizza.jpg);
    opacity: 0.2;
  }
}

img {
    opacity: 0.2;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(255,255,255,0.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
